.u-section-1 .u-sheet-1 {
  min-height: 978px;
}

.u-section-1 .u-text-1 {
  width: 208px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 495px;
  margin: 41px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 764px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 30px 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 764px;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 30px 30px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 20px 58px 20px 56px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}