.u-section-1 {
  min-height: 795px;
}

.u-section-1 .u-image-1 {
  height: 385px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 61.21%;
  filter: brightness(0.55);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: -232px calc(((100% - 1140px) / 2)) 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 139px calc(((100% - 1140px) / 2)) 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 883px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 114px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1041px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -265px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 153px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -295px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 92px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1400px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: -262px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 125px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}